<section class="request-form">
    <div class="container">
        <div class="request-form__top">
            <div class="request-form__top-heading">
                <p class="tl1">Давайте сотрудничать</p>
            </div>
            <p class="txt22 _bold">
                Мы готовы предложить индивидуальный подход <br  class="desktop"/>
                к каждому клиенту и решить любые возникающие вопросы
            </p>
        </div>
        <div class="request-form__body">
            <form class="request-form__body-form">

                <label class="input">
                    <input type="text" placeholder="placeholder">
                    <span class="input-error"> добавь ._error на лэйбл</span>
                </label>
                <label class="input">
                    <input type="text" placeholder="placeholder">
                    <span class="input-error"> добавь ._error на лэйбл</span>
                </label>
                <label class="input">
                    <input type="text" name="phone" placeholder="telephone">
                    <span class="input-error"> добавь ._error на лэйбл</span>
                </label>
                <label class="input">
                    <input type="text" placeholder="placeholder">
                    <span class="input-error"> добавь ._error на лэйбл</span>
                </label>


                <label class="input request-form__body-form-comment">
                    <textarea type="text" placeholder="placeholder"></textarea>
                    <span class="input-error"> добавь ._error на лэйбл</span>
                </label>


                <label class="input request-form__body-form-check">
                    <input type="checkbox">
                    <span class="input-text">Согласие на обработку персональных данных</span>
                </label>


                <button class="btn-primary">
                    Отправить
                    <span class="btn-primary-arrow"></span>
                </button>



            </form>
            <div class="request-form__body-useless">
                <img src="./assets/images/image.png" alt="">
            </div>
        </div>
    </div>
</section>